<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.mapper.ExamMapper">


	<insert id="insert" parameterType="Exam">
		insert into exam(addtime,types,project,grade,ordernum,etimes)values(#{addtime},#{types},#{project},#{grade},#{ordernum},#{etimes})
	</insert>
	
	<update id="update" parameterType="Exam">
		update exam set
		<trim suffixOverrides=",">
			<if test="addtime !=null">
				addtime=#{addtime},
			</if>
			<if test="types !=null">
				types=#{types},
			</if>
			<if test="project !=null">
				project=#{project},
			</if>
			<if test="grade !=null">
				grade=#{grade}
			</if>
		</trim>
		where eid=#{eid}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from exam where ordernum=#{ordernum}
	</delete>
	
	<select id="selectById" parameterType="String" resultType="Exam">
		select * from exam where ordernum=#{ordernum}
	</select>
	
</mapper>