<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.mapper.ShufflingsMapper">


	<select id="select" parameterType="int" resultType="Shuffflings">
		select * from shufflings where type = #{type}
	</select>


</mapper>