<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.mapper.TeacherMapper">

	<select id="selectByActivate" parameterType="Teacher" resultType="Teacher">
		select * from teacher where activate = 4 and online = '是'
		<if test="name != null and name != ''">
		 	and name like CONCAT('%', #{name} , '%')
		</if>
		<if test="phone != null and phone != ''">
			and phone like CONCAT('%', #{phone} , '%')
		</if>
		order by id desc
	</select>

	<select id="selectByNamePro" parameterType="Teacher" resultType="Teacher">
		select * from teacher where activate = 1 and online = '是'
		<if test="name != null and name != ''">
		 	and name like CONCAT('%', #{name} , '%')
		</if>
		<if test="phone != null and phone != ''">
			and phone like CONCAT('%', #{phone} , '%')
		</if>
		<if test="project != null and project != ''">
			and project like CONCAT('%', #{project} , '%')
		</if>
		<if test="types != null and types != ''">
			and types like CONCAT('%', #{types} , '%')
		</if>
		<if test="sex != null and sex != ''">
			and sex like CONCAT('%', #{sex} , '%')
		</if>
		<if test="school != null and school != ''">
			and school like CONCAT('%', #{school} , '%')
		</if>
		<if test="location != null and location != ''">
			and location like CONCAT('%', #{location} , '%')
		</if>
		<if test="grade != null and grade != ''">
			and grade = #{grade}
		</if>
		order by id desc
	</select>
	
	<select id="selectByNamePro2" parameterType="com.song.pojo.Teacher" resultType="com.song.pojo.Teacher">
		SELECT
			a.name,
			a.phone,
			a.grade,
			a.price,
			a.seniority,
			a.types,
			a.sex,
			a.education,
			a.school,
			a.profession,
			a.location,
			b.weChat
		FROM
			teacher a
			LEFT JOIN prove b ON a.id = b.tid
		where a.activate = 1 and a.online = '是'
		<if test="name != null and name != ''">
		 	and a.name like CONCAT('%', #{name} , '%')
		</if>
		<if test="phone != null and phone != ''">
			and a.phone like CONCAT('%', #{phone} , '%')
		</if>
		<if test="project != null and project != ''">
			and a.project like CONCAT('%', #{project} , '%')
		</if>
		<if test="types != null and types != ''">
			and a.types like CONCAT('%', #{types} , '%')
		</if>
		<if test="sex != null and sex != ''">
			and a.sex like CONCAT('%', #{sex} , '%')
		</if>
		<if test="school != null and school != ''">
			and a.school like CONCAT('%', #{school} , '%')
		</if>
		<if test="location != null and location != ''">
			and a.location like CONCAT('%', #{location} , '%')
		</if>
		<if test="grade != null and grade != ''">
			and a.grade = #{grade}
		</if>
		order by a.id desc
	</select>


	<select id="selectByZero" parameterType="Teacher" resultType="Teacher">
		select * from teacher t where t.activate = 3 and t.online = '是'
		<if test="name != null and name != ''">
		 	and name like CONCAT('%', #{name} , '%')
		</if>
		<if test="phone != null and phone != ''">
			and phone like CONCAT('%', #{phone} , '%')
		</if>
		<if test="project != null and project != ''">
			and project like CONCAT('%', #{project} , '%')
		</if>
		<if test="types != null and types != ''">
			and types like CONCAT('%', #{types} , '%')
		</if>
		<if test="sex != null and sex != ''">
			and sex like CONCAT('%', #{sex} , '%')
		</if>
		<if test="school != null and school != ''">
			and school like CONCAT('%', #{school} , '%')
		</if>
		<if test="location != null and location != ''">
			and location like CONCAT('%', #{location} , '%')
		</if>
		order by id desc
	</select>
	
	<update id="updateActivate" parameterType="Teacher">
		update teacher set 
		<trim suffixOverrides=",">
			<if test="activate !=null and activate !=''">
				activate = #{activate},
			</if>
			<if test="price !=null and price !=''">
				price=#{price},
			</if>
			<if test="otherpri !=null and otherpri !=''">
				otherpri=#{otherpri},
			</if>
		</trim>
		where id =#{id}
	</update>
	

	<select id="selectByCondition" parameterType="String" resultType="Teacher">
		select * from teacher
		 <where>
	        <if test="_parameter !=null">
	            project like CONCAT('%', #{_parameter} , '%')
	        </if>
	    </where>
	</select>

	<select id="selectMoney" parameterType="String" resultType="Double">
		select money from teacher where openid=#{openid}
	</select>

	<select id="selectAll" resultType="Teacher">
		select t.id,t.latlng,t.image,t.name,t.project,t.level,t.seniority,t.number,t.character,t.price from teacher t,lesson l
		where t.id=l.tid and l.state='true' and t.activate=1 and online="是"
		<if test="grade != null and grade != ''">
			and grade=#{grade}
		</if>
		<if test="project != null and project != ''">
			and project=#{project}
		</if>
		<if test="sex != null and sex != ''">
			and sex=#{sex}
		</if>
		<if test="types != null and types != ''">
			and types=#{types}
		</if>
	</select>
	
	<delete id="delete" parameterType="int">
		delete from teacher where id=#{id}
	</delete>

	<select id="selectByOpenid" parameterType="String" resultType="Teacher">
		select * from teacher where openid=#{openid}
	</select>
	
	<select id="selectById" parameterType="int" resultType="Teacher">
		select 
			a.*,
			b.state 
		from teacher a
		left join lesson b on b.tid = a.id
		where 1=1
		<if test="id != null and id != '' ">
			and a.id=#{id}
		</if>
		<if test="openid !=null and openid != '' ">
			and a.openid=#{openid}
		</if>
	</select>
	
	<insert id="add" parameterType="Teacher" useGeneratedKeys="true" keyProperty="id">
		insert into teacher 
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="types != null">
			  	types,
			  </if>
			  <if test="latlng != null">
			  	latlng,
			  </if>
		      <if test="activate != null">
		        activate,
		      </if>
		      <if test="money != null">
		        money,
		      </if>
		      <if test="name != null">
		        name,
		      </if>
		      <if test="price != null">
		        price,
		      </if>
		      <if test="sex != null">
		        sex,
		      </if>
		      <if test="character != null">
		        character,
		      </if>
		      <if test="openid != null">
		        openid,
		      </if>
		      <if test="school != null">
		        school,
		      </if>
		      <if test="image != null">
		        image,
		      </if>
		      <if test="seniority != null">
		        seniority,
		      </if>
		      <if test="education != null">
		        education,
		      </if>
		      <if test="location != null">
		        location,
		      </if>
		      <if test="level != null">
		        level,
		      </if>
		      <if test="number != null">
		        number,
		      </if>
		      <if test="phone != null">
		        phone,
		      </if>
		      <if test="type != null">
		      	type,
		      </if>
		       <if test="jifen != null">
		      	jifen,
		      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	   		 <if test="types != null">
			  	#{types},
			  </if>
	      	<if test="latlng != null">
	      		#{latlng},
	      	</if>
	      	<if test="activate != null">
		        #{activate},
		      </if>
		      <if test="money != null">
		        #{money},
		      </if>
		      <if test="name != null">
		        #{name},
		      </if>
		      <if test="price != null">
		        #{price},
		      </if>
		      <if test="sex != null">
		        #{sex},
		      </if>
		      <if test="character != null">
		        #{character},
		      </if>
		      <if test="openid != null">
		        #{openid},
		      </if>
		      <if test="school != null">
		        #{school},
		      </if>
		      <if test="image != null">
		        #{image},
		      </if>
		      <if test="seniority != null">
		        #{seniority},
		      </if>
		      <if test="education != null">
		        #{education},
		      </if>
		      <if test="location != null">
		        #{location},
		      </if>
		      <if test="level != null">
		        #{level},
		      </if>
		      <if test="number != null">
		        #{number},
		      </if>
		      <if test="phone != null">
		        #{phone},
		      </if>
		      <if test="type != null">
		      	#{type},
		      </if>
		      <if test="jifen != null">
		      	#{jifen},
		      </if>
	    </trim>
	</insert>
	
	
	<update id="update" parameterType="Teacher">
		update teacher set
		<trim suffixOverrides=",">
			<if test="price !=null and price !=''">
				price=#{price},
			</if>
			<if test="phone !=null and phone !=''">
				phone=#{phone},
			</if>
			<if test="image != null and image != ''">
				image=#{image},
			</if>
			<if test="name != null and name!=''">
				name=#{name},
			</if>
			<if test="seniority != null and seniority != ''">
				seniority=#{seniority},
			</if>
			<if test="otherpro != null and otherpro != ''">
				otherpro=#{otherpro},
			</if>
			<if test="project !=null and project != ''">
				project=#{project},
			</if>
			<if test="grade !=null and grade != ''">
				grade=#{grade},
			</if>
			<if test="types !=null and types != ''">
				types=#{types},
			</if>
			<if test="sex !=null and sex != ''">
				sex=#{sex},
			</if>
			<if test="education !=null and education != ''">
				education=#{education},
			</if>
			<if test="school !=null and school != ''">
				school=#{school},
			</if>
			<if test="profession !=null and profession != ''">
				profession=#{profession},
			</if>
			<if test="level !=null and level != ''">
				level=#{level},
			</if>
			<if test="number !=null and number != ''">
				number=#{number},
			</if>
			<if test="character !=null and character != ''">
				character=#{character},
			</if>
			<if test="begin !=null and begin != ''">
				begin=#{begin},
			</if>
			<if test="end !=null and end != ''">
				end=#{end},
			</if>
			<if test="title !=null and title != ''">
				title=#{title},
			</if>
			<if test="titleimage !=null and titleimage != ''">
				titleimage=#{titleimage},
			</if>
			<if test="honor !=null and honor != ''">
				honor=#{honor},
			</if>
			<if test="honorimage !=null and honorimage != ''">
				honorimage=#{honorimage},
			</if>
			<if test="study !=null and study != ''">
				study=#{study},
			</if>
			<if test="sbegin !=null and sbegin != ''">
				sbegin=#{sbegin},
			</if>
			<if test="sbegin !=null and sbegin != ''">
				sbegin=#{sbegin},
			</if>
			<if test="send !=null and send != ''">
				send=#{send},
			</if>
			<if test="scontent !=null and scontent != ''">
				scontent=#{scontent},
			</if>
			<if test="suctitle !=null and suctitle != ''">
				suctitle=#{suctitle},
			</if>
			<if test="suctitle !=null and suctitle != ''">
				sucontent=#{sucontent},
			</if>
			<if test="photo !=null and photo != ''">
				photo=#{photo},
			</if>
			<if test="jifen !=null and jifen != ''">
				jifen=#{jifen},
			</if>
			<if test="grade !=null and grade != ''">
				grade=#{grade},
			</if>
			<if test="other !=null and other != ''">
				other=#{other},
			</if>
			<if test="otherpri !=null and otherpri != ''">
	      		otherpri=#{otherpri},
	      	</if>
	      	<if test="otherscontent != null and otherscontent !=''">
	      		otherscontent = #{otherscontent},
	      	</if>
		</trim>
		where id=#{id}
	</update>
	
	<update id="updateschool" parameterType="Teacher">
		update teacher set
		<trim suffixOverrides=",">
			<if test="school != null and school !=''">
				school=#{school},
			</if>
			<if test="begin != null and begin !=''">
				begin=#{begin},
			</if>
			<if test="end != null and end !=''">
				end=#{end},
			</if>
			<if test="education != null and education !=''">
				education=#{education},
			</if>
			<if test="profession != null and profession !=''">
				profession=#{profession},
			</if>
		</trim>
		where id=#{id}
	</update>
	
	<update id="updatetitle" parameterType="Teacher">
		update teacher set
		<trim suffixOverrides=",">
			<if test="title != null and title !=''">
				title=#{title},
			</if>
			<if test="titleimage != null and titleimage !=''">
				titleimage=#{titleimage},
			</if>
		</trim>
		where id=#{id}
	</update>
	
	<update id="updatehonor" parameterType="Teacher">
		update teacher set
		<trim suffixOverrides=",">
			<if test="honor != null and honor !=''">
				honor=#{honor},
			</if>
			<if test="honorimage != null and honorimage !=''">
				honorimage=#{honorimage},
			</if>
		</trim>
		where id=#{id}
	</update>
	
	<update id="updatexperience" parameterType="Teacher">
		update teacher set
		<trim suffixOverrides=",">
			<if test="study != null and study !=''">
				study=#{study},
			</if>
			<if test="sbegin != null and sbegin !=''">
				sbegin=#{sbegin},
			</if>
			<if test="send != null and send !=''">
				send=#{send},
			</if>
			<if test="scontent != null and scontent !=''">
				scontent=#{scontent},
			</if>
		</trim>
		where id=#{id}
	</update>
	
	<update id="updatesuccess" parameterType="Teacher">
		update teacher set
		<trim suffixOverrides=",">
			<if test="suctitle != null and suctitle !=''">
				suctitle=#{suctitle},
			</if>
			<if test="sucontent != null and sucontent !=''">
				sucontent=#{sucontent},
			</if>
		</trim>
		where id=#{id}
	</update>
	
	<update id="updatecharacter" parameterType="Teacher">
		update teacher t set t.character=#{character} where id=#{id}
	</update>
	
	<update id="updatephoto" parameterType="Teacher">
		update teacher t set t.photo = #{photo}	where id=#{id}
	</update>
	
	<select id="selectindex" resultType="Teacher">
		select * from teacher where activate=1 and online="是" order by number desc limit 0,10
	</select>
	
	<update id="updateJifen" parameterType="Teacher">
		update teacher set jifen=#{jifen} where id=#{id}
	</update>
	
	<update id="updateIdentity" parameterType="Teacher">
		update teacher set online=#{online} where openid=#{openid}
	</update>
	
	<update id="updateOnId" parameterType="Teacher">
		update teacher set money=#{money} where openid=#{openid}
	</update>
	
	<select id="selectByOnId" parameterType="Teacher" resultType="Teacher">
		select * from teacher where online=#{online} and id=#{id}
	</select>
	
	<update id="updateNumber" parameterType="Teacher">
		update teacher set number=#{number} where id=#{id}	
	</update>
	
	<update id="updateProve" parameterType="int">
		update prove set status=#{status},status1=#{status},status2=#{status} where tid=#{tid}
	</update>
	
	<update id="updateOther" parameterType="Teacher">
		update teacher set other=#{other} where id = #{tid}
	</update>
	
</mapper>