<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.mapper.ParentMapper">

	<select id="selectMoney" parameterType="java.lang.String" resultType="java.lang.Double">
		select money from parent where openid=#{openid}
	</select>

	<select id="selectByOpenid" parameterType="java.lang.String" resultType="com.song.pojo.Parent">
		select * from parent where openid=#{openid}
	</select>
	
	<select id="selectByid"  resultType="com.song.pojo.Parent">
		select * from parent where openid=#{openId}
	</select>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from parent where id=#{id}
	</delete>
	
	<insert id="add" parameterType="com.song.pojo.Parent" >
	insert into parent (
	latlng,
	sex,
	image,
	location,
	name,
	phone,
	openid,
	unionid,
	create_time
	)VALUES(
	#{latlng},
	#{sex},
	#{image},
	#{location},
	#{name},
	#{phone},
	#{openid},
	#{unionid},
	#{createTime}
	);
	</insert>
	
	<select id="selectByName" parameterType="java.lang.String" resultType="java.lang.String">
		select openid from parent where name =#{name}
	</select>
	
	<update id="updateIdentity" parameterType="com.song.pojo.Parent">
		update parent set online=#{online} where openid=#{openid}
	</update>
	
	<select id="selectByOnId" parameterType="com.song.pojo.Parent" resultType="com.song.pojo.Parent">
		<!--  select * from parent where online=#{online} and id=#{id} -->
		select * from parent where id=#{id}
	</select>
	
	<update id="updateMoney" parameterType="com.song.pojo.Parent">
		update parent set money=#{money} where id=#{id}
	</update>
	
	<update id="updateById" parameterType="com.song.pojo.Parent">
		update parent
		<set>
			<if test="latlng !=null">
				latlng=#{latlng},
			</if>
			<if test="sex !=null">
				sex=#{sex},
			</if>
			<if test="image !=null">
				image=#{image},
			</if>
			<if test="location !=null">
				location=#{location},
			</if>
			<if test="name !=null">
				name=#{name},
			</if>
			<if test="phone !=null">
				phone=#{phone},
			</if>
			<if test="openid !=null">
				openid=#{openid},
			</if>
			<if test="unionid !=null">
				unionid=#{unionid},
			</if>
			<if test="modifiedTime !=null">
				modified_time=#{modifiedTime}
			</if>
		</set>
		where
		id=#{id}
	</update>
	
	
</mapper>