<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.mapper.ProveMapper">

	<insert id="add" parameterType="com.song.pojo.Prove" useGeneratedKeys="true" keyProperty="id">
		insert into prove(phone,tid,idcard,sex,back,face,front,names) values (#{phone},#{tid},#{idcard},#{sex},#{back},#{face},#{front},#{names})
		<!-- insert into prove(tid,idcard,sex,back,face,front,names) values (#{tid},#{idcard},#{sex},#{back},#{face},#{front},#{names}) -->
	</insert>
	
	<update id="update" parameterType="com.song.pojo.Prove" useGeneratedKeys="true" keyProperty="id">
		update prove set
			<trim suffixOverrides=",">
				<if test="teachnum != null and teachnum !=''">
					teachnum=#{teachnum},
				</if>
				<if test="teachimage != null and teachimage !=''">
					teachimage=#{teachimage},
				</if>
				<if test="graduateimage != null and graduateimage !=''">
					graduateimage=#{graduateimage},
				</if>
				<if test="graduatenum != null and graduatenum !=''">
					graduatenum=#{graduatenum},
				</if>
				<if test="names != null and names !=''">
					names=#{names},
				</if>
				<if test="idcard != null and idcard !=''">
					idcard=#{idcard},
				</if>
				<if test="sex != null and sex !=''">
					sex=#{sex},
				</if>
				<if test="front != null and front !=''">
					front=#{front},
				</if>
				<if test="back != null and back !=''">
					back=#{back},
				</if>
				<if test="face != null and face !=''">
					face=#{face},
				</if>
				<if test="phone != null and phone != ''">
					phone = #{phone},
				</if>
				<if test="weChat != null and weChat != ''">
					weChat = #{weChat},
				</if>
			</trim>
		where tid=#{id}
	</update>
	
	<select id="selectByIdcard"  resultType="com.song.pojo.Prove">
		select p.phone,p.id,p.idcard,p.sex,p.back,p.front,p.face,p.names,p.status,p.weChat from prove p where p.tid=#{tid}
	</select>
	<select id="selectByTeach"  resultType="com.song.pojo.Prove">
		select p.phone,p.teachnum,p.teachimage,p.status1,p.weChat from prove p where p.tid=#{tid}
	</select>
	<select id="selectByStudent" resultType="com.song.pojo.Prove">
		select p.phone,p.graduateimage,p.graduatenum,p.status2,p.weChat from prove p where p.tid=#{tid}
	</select>
	
	<update id="updateStatus" >
		update prove set status=1 where tid=#{id};
	</update>
	
	<update id="updateStatus1" >
		update prove set status1=1 where tid=#{id};
	</update>
	
	<update id="updateStatus2" >
		update prove set status2=1 where tid=#{id};
	</update>

</mapper>