<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.mapper.TeacherMapper">

	<select id="selectByProject" resultType="com.song.pojo.Teacher">
		select * from teacher where project = #{project} and activate = 1
	</select>

	<update id="updateLatlng" >
		update teacher set latlng = #{latlng} where openid = #{openid}
	</update>

	<update id="updatePrice" parameterType="com.song.pojo.Teacher">
		update teacher set price=#{price} where openid=#{openid}
	</update>

	<update id="updateLevel" >
		update teacher set level=#{level} where openid=#{openid}
	</update>

	<update id="updatetypes" parameterType="com.song.pojo.Teacher">
		update teacher set level = #{level},types = #{types} where openid =#{openid}
	</update>
	
	<update id="updateActivate" >
		update teacher set activate = #{activate} where id =#{id}
	</update>

	<select id="selectByCondition" resultType="com.song.pojo.Teacher">
		select * from teacher
		 <where>
	        <if test="project !=null and project !=''">
	           project like CONCAT('%', #{project} , '%') or name like CONCAT('%', #{project} , '%')
	        </if>
	        and activate = 1
	    </where>
	</select>

	<select id="selectMoney" resultType="java.lang.Double">
		select money from teacher where openid=#{openid}
	</select>

	<select id="selectAll" resultType="com.song.pojo.Teacher">
		select t.id,t.latlng,t.image,t.name,t.project,t.level,t.seniority,t.number,t.character,t.price,t.grade from teacher t,lesson l
		where t.id=l.tid and l.state='true' and t.activate=1 and online="是" and latlng != ""
		<if test="grade != null and grade != ''">
			and grade=#{grade}
		</if>
		<if test="project != null and project != ''">
			and project=#{project}
		</if>
		<if test="sex != null and sex != ''">
			and sex=#{sex}
		</if>
		<if test="types != null and types != ''">
			and types=#{types}
		</if>
		<if test="address !=null and address != ''">
			and location = #{address}
		</if>
		order by number desc
	</select>
	
	<delete id="delete" >
		delete from teacher where id=#{id}
	</delete>

	<select id="selectByOpenid" resultType="com.song.pojo.Teacher">
		select * from teacher where openid=#{openid}
	</select>
	
	<select id="selectById" resultType="com.song.pojo.Teacher">
		select 
		t.*,
		b.state 
		from teacher t 
		left join lesson b on b.tid = t.id
		where 1=1 
		<if test="id != null and id != '' ">
			and t.id=#{id}
		</if>
		<if test="openid !=null and openid != '' ">
			and t.openid=#{openid}
		</if>

	</select>
	
	<insert id="add" parameterType="com.song.pojo.Teacher" useGeneratedKeys="true" keyProperty="id">
		insert into teacher 
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="types != null and types != ''">
			  	types,
			  </if>
			  <if test="latlng != null and latlng != ''">
			  	latlng,
			  </if>
		      <if test="activate != null and activate != ''">
		        activate,
		      </if>
		      <if test="money != null and money != ''">
		        money,
		      </if>
		      <if test="name != null and name != ''">
		        name,
		      </if>
		      <if test="price != null and price != ''">
		        price,
		      </if>
		      <if test="sex != null and sex != ''">
		        sex,
		      </if>
		      <if test="character != null and character != ''">
		        character,
		      </if>
		      <if test="openid != null and openid != ''">
		        openid,
		      </if>
		      <if test="school != null and school != ''">
		        school,
		      </if>
		      <if test="image != null and image != ''">
		        image,
		      </if>
		      <if test="seniority != null and seniority != ''">
		        seniority,
		      </if>
		      <if test="education != null and education != ''">
		        education,
		      </if>
		      <if test="location != null and location != ''">
		        location,
		      </if>
		      <if test="level != null and level != ''">
		        level,
		      </if>
		      <if test="number != null and number != ''">
		        number,
		      </if>
		      <if test="phone != null and phone != ''">
		        phone,
		      </if>
		      <if test="type != null and type != ''">
		      	type,
		      </if>
		       <if test="jifen != null and jifen != ''">
		      	jifen,
		      </if>
		      <if test="unionid != null and unionid != ''">
		      	unionid,
		      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	   		 <if test="types != null and types != ''">
			  	#{types},
			  </if>
	      	<if test="latlng != null and latlng != ''">
	      		#{latlng},
	      	</if>
	      	<if test="activate != null and activate != ''">
		        #{activate},
		      </if>
		      <if test="money != null and money != ''">
		        #{money},
		      </if>
		      <if test="name != null and name != ''">
		        #{name},
		      </if>
		      <if test="price != null and price != ''">
		        #{price},
		      </if>
		      <if test="sex != null and sex != ''">
		        #{sex},
		      </if>
		      <if test="character != null and character != ''">
		        #{character},
		      </if>
		      <if test="openid != null and openid != ''">
		        #{openid},
		      </if>
		      <if test="school != null and school != ''">
		        #{school},
		      </if>
		      <if test="image != null and image != ''">
		        #{image},
		      </if>
		      <if test="seniority != null and seniority != ''">
		        #{seniority},
		      </if>
		      <if test="education != null and education != ''">
		        #{education},
		      </if>
		      <if test="location != null and location != ''">
		        #{location},
		      </if>
		      <if test="level != null and level != ''">
		        #{level},
		      </if>
		      <if test="number != null and number != ''">
		        #{number},
		      </if>
		      <if test="phone != null and phone != ''">
		        #{phone},
		      </if>
		      <if test="type != null and type != ''">
		      	#{type},
		      </if>
		      <if test="jifen != null and jifen != ''">
		      	#{jifen},
		      </if>
		      <if test="unionid != null and unionid != ''">
		      	#{unionid},
		      </if>
	    </trim>
	</insert>
	
	
	<update id="update" parameterType="com.song.pojo.Teacher">
		update teacher set
		<trim suffixOverrides=",">
			<if test="sex != null and sex != ''">
				sex = #{sex},
			</if>
			<if test="image != null and image != ''">
				image=#{image},
			</if>
			<if test="name != null and name!=''">
				name=#{name},
			</if>
			<if test="seniority != null and seniority != ''">
				seniority=#{seniority},
			</if>
			<if test="otherpro != null and otherpro != ''">
				otherpro=#{otherpro},
			</if>
			<if test="project !=null and project != ''">
				project=#{project},
			</if>
			<if test="grade !=null and grade != ''">
				grade=#{grade},
			</if>
			<if test="phone !=null and phone != ''">
				phone = #{phone},
			</if>
			<if test="location !=null and location != ''">
				location = #{location},
			</if>
			<if test="orderArea !=null and orderArea != ''">
				order_area = #{orderArea},
			</if>
		</trim>
		where id=#{id}
	</update>
	
	
	<update id="updateschool" parameterType="com.song.pojo.Teacher">
		update teacher set
		<trim suffixOverrides=",">
			<if test="school != null and school !=''">
				school=#{school},
			</if>
			<if test="begin != null and begin !=''">
				begin=#{begin},
			</if>
			<if test="end != null and end !=''">
				end=#{end},
			</if>
			<if test="education != null and education !=''">
				education=#{education},
			</if>
			<if test="profession != null and profession !=''">
				profession=#{profession},
			</if>
		</trim>
		where id=#{id}
	</update>
	
	<update id="updatetitle" parameterType="com.song.pojo.Teacher">
		update teacher set
		<trim suffixOverrides=",">
			<if test="title != null and title !=''">
				title=#{title},
			</if>
			<if test="titleimage != null and titleimage !=''">
				titleimage=#{titleimage},
			</if>
		</trim>
		where id=#{id}
	</update>
	
	<update id="updatehonor" parameterType="com.song.pojo.Teacher">
		update teacher set
		<trim suffixOverrides=",">
			<if test="honor != null and honor !=''">
				honor=#{honor},
			</if>
			<if test="honorimage != null and honorimage !=''">
				honorimage=#{honorimage},
			</if>
		</trim>
		where id=#{id}
	</update>
	
	<update id="updatexperience" parameterType="com.song.pojo.Teacher">
		update teacher set
		<trim suffixOverrides=",">
			<if test="study != null and study !=''">
				study=#{study},
			</if>
			<if test="sbegin != null and sbegin !=''">
				sbegin=#{sbegin},
			</if>
			<if test="send != null and send !=''">
				send=#{send},
			</if>
			<if test="scontent != null and scontent !=''">
				scontent=#{scontent},
			</if>
			<if test="otherscontent != null and otherscontent !=''">
				otherscontent = #{otherscontent},
			</if>
		</trim>
		where id=#{id}
	</update>
	
	<update id="updatesuccess" parameterType="com.song.pojo.Teacher">
		update teacher set
		<trim suffixOverrides=",">
			<if test="suctitle != null and suctitle !=''">
				suctitle=#{suctitle},
			</if>
			<if test="sucontent != null and sucontent !=''">
				sucontent=#{sucontent},
			</if>
		</trim>
		where id=#{id}
	</update>
	
	<update id="updatecharacter" parameterType="com.song.pojo.Teacher">
		update teacher t set t.character=#{character} where id=#{id}
	</update>
	
	<update id="updatephoto" parameterType="com.song.pojo.Teacher">
		update teacher t set t.photo = #{photo}	where id=#{id}
	</update>
	
	<select id="selectindex" resultType="com.song.pojo.Teacher">
		select * from teacher where activate=1 and online="是" order by number desc
	</select>
	
	<update id="updateJifen" parameterType="com.song.pojo.Teacher">
		update teacher set jifen=#{jifen} where id=#{id}
	</update>
	
	<update id="updateIdentity" parameterType="com.song.pojo.Teacher">
		update teacher set online=#{online} where openid=#{openid}
	</update>
	
	<update id="updateOnId" parameterType="com.song.pojo.Teacher">
		update teacher set money=#{money} where openid=#{openid}
	</update>
	
	<select id="selectByOnId" parameterType="com.song.pojo.Teacher" resultType="com.song.pojo.Teacher">
		select * from teacher where online=#{online} and id=#{id}
	</select>
	
	<update id="updateNumber" parameterType="com.song.pojo.Teacher">
		update teacher set number=#{number} where id=#{id}	
	</update>
	
	<select id="selectOther"  resultType="java.lang.String">
		select other from teacher where id = #{id}
	</select>
	
	<select id="selectById2" parameterType="com.song.pojo.Teacher" resultType="com.song.pojo.Teacher">
		select * from teacher t,prove p
		<where>
			p.tid = t.id 
			<if test="id != null and id != '' ">
				and t.id=#{id}
			</if>
			<if test="openid !=null and openid != '' ">
				and openid=#{openid}
			</if>
		</where>
	</select>
	
	<select id="selectByProjectCity" resultType="java.lang.String">
		select openid from teacher where activate = 1 AND (location = #{city} or location = #{area})
	</select>
	
</mapper>